<div class="box">
  <%= form_with(model: [@player.new_record? ? @group : nil, @player], local: true) do |form| %>
    <div class="flex flex-col gap-3">
      <% if @player.errors.any? %>
        <div class="error-messages">
          <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>
          <ul>
            <% @player.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="labeled-field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="labeled-field">
        <%= form.label :positioning, "Position (0 = defensive, 100 = attacking)" %>
        <%= form.number_field :positioning, in: 0..100 %>
      </div>
      <div class="labeled-field">
        <%= form.label :defense %>
        <%= form.number_field :defense, in: 0..100 %>
      </div>
      <div class="labeled-field">
        <%= form.label :attack %>
        <%= form.number_field :attack, in: 0..100 %>
      </div>
      <div class="labeled-field">
        <%= form.label :stamina %>
        <%= form.number_field :stamina, in: 0..100 %>
      </div>
      <div class="actions w-full pt-6">
        <%= form.submit class: "btn-primary w-full" %>
      </div>
    </div>
  <% end %>
</div>