<div class="box">
  <%= form_with(model: @group, local: true) do |form| %>
    <div class="flex flex-col gap-3">
      <% if @group.errors.any? %>
        <div class="error-messages">
          <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
          <ul>
            <% @group.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="labeled-field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="labeled-field">
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>
      <div class="labeled-field">
        <%= form.label :category %>
        <%= form.select :category, options_for_select(['society', 'soccer', 'indoor'], @group.category) %>
      </div>
      <div class="actions w-full pt-6">
        <%= form.submit class: "btn-primary w-full" %>
      </div>
    </div>
  <% end %>
</div>
