<div class="flex flex-col gap-6 w-full">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-col gap-2">
      <span class="section-title"><%= @group.name %></span>
      <span class="text-sm text-neutral"><%= @group.description %></span>
    </div>
    <div class="actions flex flex-row gap-2 flex-wrap justify-end">
      <%= link_to 'Edit Group', edit_group_path(@group), class: "btn-primary" %>
      <%= link_to 'Back', groups_path, class: "btn-secondary" %>
    </div>
  </div>
  <%= render 'matches_list', group: @group %>
  <%= render 'players_list', group: @group %>
  <div class="members-list box flex flex-col gap-6">
    <span class="subsection-title">Managing Members</span>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% @memberships.each do |membership| %>
          <tr>
            <td><%= membership.user.email %></td>
            <td><%= membership.role %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
