<header class="py-2 px-6 border-b border-light flex justify-between items-center flex-row">
  <% if @title %>
    <span class="text-xl font-semibold"><%= @title %></span>
  <% end %>
  <div id="flex flex-col lg:flex-row gap-2">
    <% if @current_user %>
      <span class="text-sm text-neutral"><%= @current_user.email %></span>
      <%= link_to "Log out", logout_path, data: { turbo_method: :delete }, class: "btn-secondary !py-1" %>
    <% else %>
      <%= link_to "Sign up", signup_path, class: "btn-primary !py-1" %>
      <%= link_to "log in", login_path, class: "btn-secondary !py-1" %>
    <% end %>
  </div>
</header>